[submodule "dotvim/bundle/nerdtree"]
	path = dotvim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "dotvim/bundle/tagbar"]
	path = dotvim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "dotvim/bundle/supertab"]
	path = dotvim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "dotvim/bundle/fugitive"]
	path = dotvim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "dotvim/bundle/ack"]
	path = dotvim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "dotvim/bundle/pygt.vim"]
	path = dotvim/bundle/pygt.vim
	url = /media/3CEB-8B20/pygt.vim/
[submodule "dotvim/bundle/CtrlP"]
	path = dotvim/bundle/CtrlP
	url = git://github.com/kien/ctrlp.vim.git
[submodule "dotvim/bundle/markdown"]
	path = dotvim/bundle/markdown
	url = git://github.com/hughbien/md-vim.git
[submodule "dotvim/bundle/go.vim"]
	path = dotvim/bundle/go.vim
	url = git://github.com/jnwhiteh/vim-golang.git
[submodule "dotvim/bundle/mdnote"]
	path = dotvim/bundle/mdnote
	url = git@github.com:nicr9/mdnote.git
