[submodule "dotvim/bundle/nerdtree"]
	path = dotvim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "dotvim/bundle/tagbar"]
	path = dotvim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "dotvim/bundle/supertab"]
	path = dotvim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
